body {
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #d4dede,
    #cedfe4,
    #cbdfec,
    #ceddf3,
    #d8daf7
  );
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}
.weather-app {
  background: #dfe0f6;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.5);
  border-radius: 10px;
}

header {
  border-bottom: 1px solid#f9f7fe;
  padding: 0 0 30px 0;
}

.search-form-input {
  background: #f9f7fe;
  border: none;
  border-radius: 5px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background-color: #324b4b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  margin-left: 5px;
}

.weather-info {
  display: flex;
  justify-content: space-between;
}
.weather-info-city {
  font-size: 38px;
  color: #324b4b;
  font-weight: 900;
}

.weather-info-details {
  margin: 0 auto 30px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.weather-info-temperature {
  padding-top: 30px;
}

footer {
  border-top: 1px solid#f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  color: rgba(39, 33, 66, 0.5);
  font-size: 13px;
}

a {
  color: #7ab5b6;
  cursor: pointer;
}
